* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14213d;
}

.navbar {
  background-color: #14213d;
  width: 100%;
  height: 50px;
  padding: 7px 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #dbcd4e;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.posts {
  margin: 50px auto;
  width: 50rem;
  padding: 15px 40px;
  background-color: #14213d;
}

.post {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
}

.postname {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-left: 10px;
}

.img-cont {
  box-shadow: 0px 3px 8px 0 rgba(219, 219, 219, 0.56);
  border: 0;
  border-radius: 15px;
}

.img-cont video {
  width: 100%;
  border-radius: 15px;
}

.code {
  background-color: #2a2a32;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 5px rgb(0 0 0 / 30%);
  padding: 15px 13px;
  width: 100%;
}

.circles {
  display: flex;
  align-items: center;
}

.navcircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.red {
  background-color: #ed4040;
}

.yellow {
  background-color: #ecb62c;
}

.green {
  background-color: #26e05a;
}

.codeNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filetype {
  color: #d3d3d3;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 400px;
  background-color: #2a2a32;
  overflow: auto;
  resize: none;
  outline: none;
  border: 0px;
  color: #d3d3d3;
}

.btn {
  background-color: rgb(126, 126, 126);
  color: black;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 10px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #e7e7e7;
}

.btn:focus {
  outline: 0;
}

.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}

.carousel {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #14213d;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

li a,
.dropbtn {
  background-color: #202d497e;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(0, 88, 146);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3c455877;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  color: rgb(224, 224, 224);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #201f29;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.right_cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #202d497e;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login:hover {
  background-color: rgb(0, 88, 146);
}
